
.container {
  max-width: 970px;
}

.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: #ECEDF2;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #ECEDF2 !important;
  border-radius: 0;
  border: none;
  padding: 0;
}

.panel-title a {
  display: block;
  padding: 10px 15px 10px 30px;
  position: relative;
  font-size: 15px;
  font-weight: 400;
}

.panel-body {
  padding: 0px;
  background: #DBDFE9;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  -webkit-transition: border-radius 0.3s linear 0.2s;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  -webkit-transition: border-radius linear 0s;
  transition: border-radius linear 0s;
}


.panel-heading .collapsed:before {
  content:url(iconfonts/icon-flag-arrow-up.png);
  position: absolute;
  right: 5px;
  top: 7px;
}

.panel-heading a:before {
  content:url(iconfonts/icon-flag-arrow-down.png);
  position: absolute;
  right: 5px;
  top: 7px;
}

.panel-heading a:after {
  content:url(iconfonts/icon-menu-1.png);
  position: absolute;
  left: 10px;
  top: 10px;
}

