
.form-inline-group {
    float: left;
    width: 23%;
}

.form-inline-group.from-inline-btn{
    width: 8%;
}
.from-inline-btn .btn{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}

.form-inline-group .form-label,
.form-inline-group .form-element {
    float: left;
}

.form-inline-group .form-label {
    margin-right: 5px;
    padding-top: 3px;
    color: #292B3D;
}

.form-inline-con .form-control {
    width: 160px;
}

.table-view-caption .caption-header {
    color: #292B3D;
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding-top: 5px;
}

.caption-header span {
    color: #F4AA37;
}

.caption-btn-group {
    float: right;
}

.caption-btn-group .btn {
    color: #367DC3;
    background-color: #ECEDF1;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
}

.icon-btn-group {
    display: inline-block;
    background-color: #ECEDF1;
    padding: 3px 5px;
    vertical-align: middle;
    margin-left: 10px;
}

.icon-btn-group > a {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-btn-group > a.icon-plus-info {
    background-image: url("../icons/icon-plus-info.png");
}

.icon-btn-group > a.icon-delete-info {
    background-image: url("../icons/icon-delete-info.png");
}

.icon-btn-group > a.icon-edit-info {
    background-image: url("../icons/icon-edit-info.png");
}

.icon-btn-group > a.icon-submit-info {
    background-image: url("../icons/icon-submit-info.png");
}

.icon-btn-group > a.icon-up-info {
    background-image: url("../icons/icon-up-info.png");
}

.table-view {
    overflow: hidden;
}

.table-view .badge {
    display: inline-block;
    min-width: 5px;
    min-height: 10px;
    border: 1px solid #E1EBF5;
    border-radius: 5px;
    padding: 2px 5px;
    color: #B6B5B4;
    margin-left: auto;
    margin-right: auto;
}

.ui-jqgrid-bdiv .ui-common-table > tbody > tr:hover {
    box-shadow: -5px 0 10px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10;
}

.ui-jqgrid-bdiv .ui-common-table > tbody > tr:hover > td {
    background-color: #E3EDF7;
    box-shadow: 8px 0 8px rgba(0, 0, 0, .2);
}

.pagination-con .pagination-form {
    float: left;
    font-size: 15px;
    color: #4D4D4D;
}

.pagination-form > span {
    margin-right: 30px;
}

.pagination-form .form-control {
    width: 50px;
    margin: 0 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pagination-con .pagination-nav {
    float: right;
}

.pagination-nav .pagination {
    float: left;
    margin-right: 30px;
}

.pagination-nav .pagination-count {
    float: left;
    font-size: 15px;
}
