
.ztree.ztree-side-menu {
    padding-left: 10px;
}

.ztree.ztree-side-menu li ul {
    /*padding-left: 0;*/
}

.ztree.ztree-side-menu li a {
    /*display: block;*/
    opacity: 1;
    border: none;
    position: relative;
}

.ztree.ztree-side-menu li a:hover {
    text-decoration: none;
}

.ztree.ztree-side-menu li a.curSelectedNode {
    border: none;
    background-color: transparent;
    height: auto;
    color: #417FC2 !important;
}

.ztree.ztree-side-menu li a {
    /*padding-left: 8px;*/
    margin-top:4px;
    margin-bottom:4px;
    height: auto;
}

.ztree.ztree-side-menu > li > ul li a.curSelectedNode,
.ztree.ztree-side-menu > li > ul li a {
    /*padding-top: 8px;
    padding-bottom: 8px;*/
    opacity: 1;
}

/*.ztree.ztree-side-menu li a.level2 {*/
/*!*padding-left: 16px;*!*/
/*}*/

/*.ztree.ztree-side-menu li a.level3 {*/
/*padding-left: 24px;*/
/*}*/

/*.ztree.ztree-side-menu li a.level4 {*/
/*padding-left: 32px;*/
/*}*/

/* .ztree.ztree-side-menu li a.level0 {
    padding: 8px 0px;
    background-color: #DBDFE9;
} */

.ztree.ztree-side-menu li span.button.switch {
    /*display: none;*/
    margin-top: 4px;
    /*margin-left: 5px;*/
}

.ztree.ztree-side-menu li span.button {
    /*margin-right: 5px;*/
}

.ztree.ztree-side-menu li span.node_name {
    font-size: 15px;
}

.ztree.ztree-side-menu li span.button,
.ztree.ztree-side-menu li span.node_name {
    vertical-align: middle;
}

.ztree.ztree-side-menu li span.button.icon-flag_ico_open,
.ztree.ztree-side-menu li span.button.icon-flag_ico_close {
    background: url("../icons/icon-flag.png") no-repeat center;
    background-size: cover;
}

.ztree.ztree-side-menu li span.button.icon-menu_ico_open,
.ztree.ztree-side-menu li span.button.icon-menu_ico_close {
    background: url("../icons/icon-menu@1x.png") no-repeat center;
}

.ztree.ztree-side-menu li span.button.icon-caret_ico_close {
    background: url("../icons/icon-caret-slideup@1x.png") no-repeat center;
}

.ztree.ztree-side-menu li span.button.icon-caret_ico_open {
    background: url("../icons/icon-caret-slidedown@1x.png") no-repeat center;
}

.ztree.ztree-side-menu li span.button.icon-circle_ico_docu {
    background: url("../icons/icon-circle.png") no-repeat center;
}

.ztree.ztree-side-menu li a.icon-circle-hover:hover span.button.icon-circle_ico_docu,
.ztree.ztree-side-menu li a.icon-circle-active span.button.icon-circle_ico_docu {
    background: url("../icons/icon-circle-active.png") no-repeat center;
}

.ztree.ztree-side-menu .ico_close{
    display:none;
}
.ztree.ztree-side-menu .ico_open{
    display:none;
}
.ztree.ztree-side-menu .center_docu{
    display:none;
}
.ztree.ztree-side-menu .bottom_docu{
    display:none;
}

.rMenu {
	position: fixed;
	top: 0;
	background-color: #fff;
	text-align: left;
	width: 200px;
	z-index: 800;
	font-size: 15px;
	border: 1px solid #ccc;
}

.rMenu ul li {
	cursor: pointer;
	line-height: 10px;
	list-style: none outside none;
	color: #333;
	padding: 7px 5px;
}

.rMenu ul li:hover {
	background: #266297;
	color: #fff;
}