.tree-list-container{
  width:100%;
  height: 100%;
  padding:20px;
  overflow: hidden;
}
.detail-form{
    padding:20px;
    width:100%;
}
.tree-side{
    min-width:300px;
    background: #ffffff;
    overflow: visible;
    padding: 20px;
    box-shadow: 3px 0 17px 0 rgba(0,0,0,0.10);
}
.tree-line-btn{
    color:#8F9CB1;
    font-size:14px;
    margin-left: 5px!important;
}
.tree-search{
    padding-bottom: 20px;
}
.tree-search .el-input__inner {
    display: inline-flex !important;
    border: 1px solid #343942!important;
    border-radius: 19px!important;
    font-size: 12px;
    color: #343942;
    letter-spacing: 0;
    line-height: 12px;
}

.transfer-center-item{
  width: 40px;
  margin: 2px;
  height: 40vh;
}

.query-field{
  padding: 3px 0px;
}

.query-field input{
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    border: 1px solid #343942 !important;
    border-radius: 19px !important;
    border-radius: 19px !important;
    font-size: 12px;
    color: #343942;
    letter-spacing: 0;
    line-height: 12px;
}

.ag-watermark {
  display: none!important;
}


table tr:nth-child(odd)
{
    background: #f5f7fa!important;
}
table th{
    color: #102033;
    font-weight: bold;
}

.query-field form {
  background-color: rgba(0,0,0,0)!important;
}

.detail-form .el-input__inner {
    border-top: 0px!important;
    border-bottom: 1px solid #343942!important;
    border-right: 0px!important;
    border-left: 0px!important;
    border-radius: 0px!important;
}

.detail-form .el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus{
    border-top: 0px!important;
    border-bottom: 2px solid #ff4949!important;
    border-right: 0px!important;
    border-left: 0px!important;
    border-radius: 0px!important;
}

.detail-form .el-form-item--medium .el-form-item__content {
    //top: -10px!important;
}

#app .ag-row-odd{
  background-color: rgb(242,245,248);
}
#app .ag-row{
  border-width: 0;
}
#app .ag-row-selected{
  background-color: #b7e4ff;
}
#app  .ag-row-hover{
  background-color: #ecf0f1;
}
#app .ag-header-row{
  background: white;
}
#app .ag-header-container{
  background: white;
}
#app .ag-header{
  border-top: solid 2px #ededed;
  border-bottom: 0;
}
#app .ag-root{
  border: 0;
}
#app .ag-root-wrapper{
  border: 0;
}
.ag-theme-balham .ag-header-cell-label .ag-header-cell-text{
  color: #102033;
  font-weight: bold;
}
