@import './variables.scss';

.self-made-btn{
  background: transparent;
  color: #333;
}

.self-made-btn-a{
  background: #353A43!important;
  color: #C8FF8C!important;
}

.el-button {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  font-weight: bold;
}

.el-button:active {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  outline: none;
  font-weight: bold;
}

.el-button:hover, .el-button:focus {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  font-weight: bold;
}

.el-button--primary {
  background: #353A43!important;
  border-color: #353A43!important;
  color: #C8FF8C!important;
  font-weight: bold!important;
}

.el-button--primary:active {
  background: #353A43!important;
  border-color: #353A43!important;
  color: #C8FF8C!important;
  outline: none!important;
  font-weight: bold!important;
}

.el-button--primary:hover, .el-button--primary:focus {
  background: #434954!important;
  border-color: #434954!important;
  color: #C8FF8C!important;
  font-weight: bold!important;
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:hover, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:active {
  color: #fff!important;
  background-color: #c6cfd6!important;
  border-color: #c6cfd6!important;
}

.oper-btn{
  background: #343942;
  width:24px;
  height:24px;
  padding: 4px;
  position: relative;
  color:#ffffff;
  font-style:normal;
  font-family: "iconfont" !important;
  font-weight: normal!important;
}
.oper-btn.logout:hover::before{
  content:'注销'!important;
}
.oper-btn.unlogout:hover::before{
  content:'解除锁定'!important;
}
.oper-btn.impower:hover::before{
  content:'权限分配'!important;
}
.oper-btn:hover::before {
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 1.2;
  min-width: 10px;
  word-wrap: break-word;
  position: absolute;
  width:68px;
  color: #000;
  z-index: 999999999;
  white-space:normal;
  background: #fff;
  border: 1px solid #303133;
  left: -22px;
  top: 26px;
  //margin-top: 26px;
  //margin-left: -26px;
}

// add
.oper-btn.add:after{
  content:'\e60a'!important;
}
.oper-btn.add-1:after{
  content:'\e60a'!important;
}
.oper-btn.add-2:after{
  content:'\e60a'!important;
}
.oper-btn.add-3:after{
  content:'\e60a'!important;
}
.oper-btn.add-4:after{
  content:'\e60a'!important;
}
.oper-btn.add-5:after{
  content:'\e60a'!important;
}
.oper-btn.add:hover::before{
  content:'新增'!important;
}
.oper-btn.add-1:hover::before{
  content:'新增阈值'!important;
}
.oper-btn.add-2:hover::before{
  content:'新增表'!important;
}
.oper-btn.add-3:hover::before{
  content:'新增行'!important;
}
.oper-btn.add-4:hover::before{
  content:'新增规则'!important;
}
.oper-btn.add-5:hover::before{
  content:'新增区间'!important;
}
// edit
.oper-btn.edit:after{
  content:'\e604'!important;
}
.oper-btn.edit-1:after{
  content:'\e604'!important;
}
.oper-btn.edit-2:after{
  content:'\e604'!important;
}
.oper-btn.edit-3:after{
  content:'\e604'!important;
}
.oper-btn.edit-4:after{
  content:'\e604'!important;
}
.oper-btn.edit-5:after{
  content:'\e604'!important;
}
.oper-btn.edit:hover::before{
  content:'编辑'!important;
}
.oper-btn.edit-1:hover::before{
  content:'编辑已停用的流程'!important;
}
.oper-btn.edit-2:hover::before{
  content:'编辑阈值'!important;
}
.oper-btn.edit-3:hover::before{
  content:'编辑使用期限'!important;
}
.oper-btn.edit-4:hover::before{
  content:'维护'!important;
}
.oper-btn.edit-5:hover::before{
  content:'表结构维护'!important;
}
// detail
.oper-btn.detail:after{
  content:'\e609'!important;
}
.oper-btn.detail-1:after{
  content:'\e609'!important;
}
.oper-btn.detail-2:after{
  content:'\e609'!important;
}
.oper-btn.detail:hover::before{
  content:'预览'!important;
}
.oper-btn.detail-1:hover::before{
  content:'查看规则详情'!important;
}
.oper-btn.detail-2:hover::before{
  content:'表结构展示'!important;
}
// excel
.oper-btn.excel:after{
  content:'\e637'!important;
}
.oper-btn.excel-2:after{
  content:'\e637'!important;
}
.oper-btn.excel-3:after{
  content:'\e637'!important;
}
.oper-btn.excel:hover::before{
  content:'导出'!important;
}
.oper-btn.excel-2:hover::before{
  content:'编译模型SQL'!important;
}
.oper-btn.excel-3:hover::before{
  content:'获取宽表SQL'!important;
}
// again
.oper-btn.again-2:after{
  content:'\e69c'!important;
}
.oper-btn.again-3:after{
  content:'\e69c'!important;
}
.oper-btn.again-2:hover::before{
  content:'刷新'!important;
}
.oper-btn.again-3:hover::before{
  content:'重置'!important;
}
// link
.oper-btn.link:after{
  content:'\e77c'!important;
}
.oper-btn.link-3:after{
  content:'\e77c'!important;
}
.oper-btn.link:hover::before{
  content:'查询关联'!important;
}
.oper-btn.link-3:hover::before{
  content:'测试连接'!important;
}
.oper-btn.link-2:after{
  content:'\e6af'!important;
}
.oper-btn.link-1:after{
  content:'\e6af'!important;
}
.oper-btn.link-2:hover::before{
  content:'分配项目'!important;
}
.oper-btn.link-1:hover::before{
  content:'绑定资源'!important;
}

.oper-btn.link-3:after{
  content:'\e6af'!important;
}
.oper-btn.link-3:hover::before{
  content:'关联信息'!important;
}
// publish
.oper-btn.publish:after{
  content:'\e695'!important;
}
.oper-btn.publish-1:after{
  content:'\e695'!important;
}
.oper-btn.publish:hover::before{
  content:'发布'!important;
}
.oper-btn.publish-1:hover::before{
  content:'取消发布'!important;
}
// setting
.oper-btn.setting:after{
  content:'\e606'!important;
}
.oper-btn.setting-1:after{
  content:'\e606'!important;
}
.oper-btn.setting-2:after{
  content:'\e606'!important;
}
.oper-btn.setting:hover::before{
  content:'设置'!important;
}
.oper-btn.setting-1:hover::before{
  content:'设置参数'!important;
}
.oper-btn.setting-2:hover::before{
  content:'修改参数'!important;
}
// share
.oper-btn.share-1:after{
  content:'\e60b'!important;
}
.oper-btn.share-1:hover::before{
  content:'分享'!important;
}
.oper-btn.share:after{
  content:'\e60b'!important;
}
.oper-btn.share:hover::before{
  content:'结果分配'!important;
}
// search
.oper-btn.search:after{
  content:'\e60f'!important;
}
.oper-btn.search:hover::before{
  content:'查询设置'!important;
}
.oper-btn.search-1:after{
  content:'\e60f'!important;
}
.oper-btn.search-1:hover::before{
  content:'预览数据'!important;
}
// move 移除项目分配
.oper-btn.move:after{
  content:'\e672'!important;
}
.oper-btn.move:hover::before{
  content:'移除分配项目'!important;
}
.oper-btn.move-1:after{
  content:'\e672'!important;
}
.oper-btn.move-1:hover::before{
  content:'移动'!important;
}
// processing
.oper-btn.processing:after{
  content:'\e671'!important;
}
.oper-btn.processing:hover::before{
  content:'处理'!important;
}
.oper-btn.processing-1:after{
  content:'\e671'!important;
}
.oper-btn.processing-1:hover::before{
  content:'标记已阅'!important;
}
// add-folder
.oper-btn.add-folder:after{
  content:'\e67c'!important;
}
.oper-btn.add-folder:hover::before{
  content:'上传文件'!important;
}
.oper-btn.add-folder-1:after{
  content:'\e67c'!important;
}
.oper-btn.add-folder-1:hover::before{
  content:'新增文件夹'!important;
}
// refresh
.oper-btn.refresh:after{
  content:'\e66e'!important;
}
.oper-btn.refresh:hover::before{
  content:'重新运行'!important;
}
.oper-btn.refresh-1:after{
  content:'\e66e'!important;
}
.oper-btn.refresh-1:hover::before{
  content:'分配项目'!important;
}
// folder
.oper-btn.folder:after{
  content:'\e67d'!important;
}
.oper-btn.folder:hover::before{
  content:'上传文件夹'!important;
}
.oper-btn.folder-1:after{
  content:'\e67d'!important;
}
.oper-btn.folder-1:hover::before{
  content:'打开SQL'!important;
}

// import 导入
.oper-btn.import:after{
  content:'\e7a3'!important;
}
.oper-btn.import:hover::before{
  content:'导入'!important;
}
.oper-btn.import-table:after{
  content:'\e7a3'!important;
}
.oper-btn.import-table:hover::before{
  content:'导入表'!important;
}


// export 导出
.oper-btn.export:after{
  content:'\e602'!important;
}
.oper-btn.export:hover::before{
  content:'导出'!important;
}

// 下载、下载模板等
.oper-btn.download:after{
  content:'\e603'!important;
}
.oper-btn.download:hover::before{
  content:'下载'!important;
}

.oper-btn.download-template:after{
  content:'\e603'!important;
}
.oper-btn.download-template:hover::before{
  content:'下载模板'!important;
}
// pause 暂停
.oper-btn.pause:after{
  content:'\e607'!important;
}
.oper-btn.pause:hover::before{
  content:'停用'!important;
}
.oper-btn.pause-1:after{
  content:'\e607'!important;
}
.oper-btn.pause-1:hover::before{
  content:'暂停'!important;
}


// start
.oper-btn.start:after{
  content:'\e608'!important;
}
.oper-btn.start:hover::before{
  content:'运行'!important;
}
.oper-btn.start-1:after{
  content:'\e608'!important;
}
.oper-btn.start-1:hover::before{
  content:'失败流程从失败任务节点启动'!important;
}
.oper-btn.start-2:after{
  content:'\e608'!important;
}
.oper-btn.start-2:hover::before{
  content:'恢复暂停的流程'!important;
}
.oper-btn.start-3:after{
  content:'\e608'!important;
}
.oper-btn.start-3:hover::before{
  content:'启用'!important;
}
.oper-btn.start-4:after{
  content:'\e608'!important;
}
.oper-btn.start-4:hover::before{
  content:'立即运行'!important;
}
// delete
.oper-btn.delete:after{
  content:'\e601'!important;
}
.oper-btn.delete:hover::before{
  content:'删除'!important;
}
.oper-btn.delete-1:after{
  content:'\e601'!important;
}
.oper-btn.delete-1:hover::before{
  content:'删除区间'!important;
}
.oper-btn.delete-2:after{
  content:'\e601'!important;
}
.oper-btn.delete-2:hover::before{
  content:'结果删除'!important;
}
.oper-btn.delete-3:after{
  content:'\e601'!important;
}
.oper-btn.delete-3:hover::before{
  content:'如果选中的结果有项目关联，则删除的是关联的项目，如果没有则不能删除'!important;
}
.oper-btn.delete-4:after{
  content:'\e601'!important;
}
.oper-btn.delete-4:hover::before{
  content:'清除参数'!important;
}
.oper-btn.delete-5:after{
  content:'\e601'!important;
}
.oper-btn.delete-5:hover::before{
  content:'删除单个依赖'!important;
}
.oper-btn.delete-6:after{
  content:'\e601'!important;
}
.oper-btn.delete-6:hover::before{
  content:'删除阈值'!important;
}
.oper-btn.delete-7:after{
  content:'\e601'!important;
}
.oper-btn.delete-7:hover::before{
  content:'删除行'!important;
}
.oper-btn.delete-8:after{
  content:'\e601'!important;
}
.oper-btn.delete-8:hover::before{
  content:'删除规则'!important;
}

// 单义图标  15个


.oper-btn.more:after{
  content:'\e605'!important;
}
.oper-btn.more:hover::before{
  content:'更多'!important;
}

.oper-btn.split-2:after{
  content:'\e617'!important;
}
.oper-btn.split-2:hover::before{
  content:'结果拆分'!important;
}

.oper-btn.rename:after{
  content:'\e83e'!important;
}
.oper-btn.rename:hover::before{
  content:'重命名'!important;
}

.oper-btn.copy:after{
  content:'\e66c'!important;
}
.oper-btn.copy:hover::before{
  content:'复制'!important;
}

.oper-btn.maintain:after{
  content:'\e69f'!important;
}
.oper-btn.maintain:hover::before{
  content:'工具箱'!important;
}

.oper-btn.auth:after{
  content:'\e670'!important;
}
.oper-btn.auth:hover::before{
  content:'授权'!important;
}

.oper-btn.save:after{
  content:'\e67e'!important;
}
.oper-btn.save:hover::before{
  content:'保存'!important;
}
.oper-btn.save-none:after{
  content:'\e67e'!important;
}
.oper-btn.save-none:hover::before{
  content:'保存'!important;
}

.oper-btn.chart:after{
  content:'\e6d8'!important;
}
.oper-btn.chart:hover::before{
  content:'图表展示'!important;
}


.oper-btn.sqlcheck:after{
  content:'\e613'!important;
}
.oper-btn.sqlcheck:hover::before{
  content:'校验SQL'!important;
}

.oper-btn.clean:after{
  content:'\e600'!important;
}
.oper-btn.clean:hover::before{
  content:'格式化sql'!important;
}

.oper-btn.help:after{
  content:'\e629'!important;
}
.oper-btn.help:hover::before{
  content:'说明'!important;
}

.oper-btn.customfield:after{
  content:'\e665'!important;
}
.oper-btn.customfield:hover::before{
  content:'自定义字段'!important;
}

.oper-btn.cancel:after{
  content:'\e657'!important;
}
.oper-btn.cancel:hover::before{
  content:'取消'!important;
}

.oper-btn.cancel-none:after{
  content:'\e657'!important;
}
.oper-btn.cancel-none:hover::before{
  content:'取消'!important;
}

.oper-btn.cancel-exec:after{
  content:'\e607'!important;
}
.oper-btn.cancel-exec:hover::before{
  content:'取消执行'!important;
}

.oper-btn.cancelshare:after{
  content:'\e63d'!important;
}
.oper-btn.cancelshare:hover::before{
  content:'取消分享'!important;
}


// 未使用 16个
.oper-btn.pdf:after{
  content:'\e639'!important;
}
.oper-btn.ppt:after{
  content:'\e63a'!important;
}
.oper-btn.txt:after{
  content:'\e63b'!important;
}
.oper-btn.word:after{
  content:'\e63c'!important;
}


.oper-btn.menu:after{
  content:'\e669'!important;
}
.oper-btn.share-3:after{
  content:'\e66a'!important;
}
.oper-btn.collect:after{
  content:'\e66d'!important;
}
.oper-btn.split:after{
  content:'\e66f'!important;
}
.oper-btn.show-detail:after{
  content:'\e609'!important;
}
.oper-btn.stop:after{
  content:'\e60c'!important;
}
.oper-btn.timing:after{
  content:'\e60d'!important;
}
.oper-btn.menu-2:after{
  content:'\e89a'!important;
}
.oper-btn.drag:after{
  content:'\e680'!important;
}
.oper-btn.search-2:after{
  content:'\e63f'!important;
}
.oper-btn.interactive:after{
  content:'\e60e'!important;
}

// 新增
.oper-btn.minussign:after{
  content:'\e612'!important;
}
.oper-btn.minussign:hover::before{
  content:'跳过指定环节'!important;
}

// etl依赖添加删除
.oper-btn.scheduleadd:after{
  content:'\e60a'!important;
}
.oper-btn.scheduledelete:after{
  content:'\e601'!important;
}
