@import './variables.scss';


.el-button {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  font-weight: bold;
}

.el-button:active {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  outline: none;
  font-weight: bold;
}

.el-button:hover, .el-button:focus {
  background: #ffffff;
  border-color: #ffffff;
  color: #353A43;
  font-weight: bold;
}

.el-button--primary {
  background: #353A43;
  border-color: #353A43;
  color: #C8FF8C;
  font-weight: bold;
}

.el-button--primary:active {
  background: #353A43;
  border-color: #353A43;
  color: #C8FF8C;
  outline: none;
  font-weight: bold;
}

.el-button--primary:hover, .el-button--primary:focus {
  background: #434954;
  border-color: #434954;
  color: #C8FF8C;
  font-weight: bold;
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:hover, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:active {
  color: #fff;
  background-color: #c6cfd6;
  border-color: #c6cfd6;
}

.oper-btn{
  background: #343942;
  width:24px;
  height:24px;
  padding: 4px;
  color:#ffffff;
  font-family: "iconfont" !important;
  font-weight: normal!important;
}
.oper-btn.add:after{
  content:'\e60a'!important;
}
.oper-btn.edit:after{
  content:'\e604'!important;
}
.oper-btn.delete:after{
  content:'\e601'!important;
}
.oper-btn.detail:after{
  content:'\e609'!important;
}
.oper-btn.more:after{
  content:'\e605'!important;
}
.oper-btn.excel:after{
  content:'\e637'!important;
}
.oper-btn.pdf:after{
  content:'\e639'!important;
}
.oper-btn.ppt:after{
  content:'\e63a'!important;
}
.oper-btn.txt:after{
  content:'\e63b'!important;
}
.oper-btn.word:after{
  content:'\e63c'!important;
}
.oper-btn.import-2:after{
  content:'\e7a3'!important;
}
.oper-btn.export-2:after{
  content:'\e775'!important;
}
.oper-btn.again-2:after{
  content:'\e69c'!important;
}
.oper-btn.link:after{
  content:'\e77c'!important;
}
.oper-btn.link-2:after{
  content:'\e6af'!important;
}
.oper-btn.split-2:after{
  content:'\e617'!important;
}
.oper-btn.cancel:after{
  content:'\e657'!important;
}
.oper-btn.menu:after{
  content:'\e669'!important;
}
.oper-btn.share-3:after{
  content:'\e66a'!important;
}
.oper-btn.collect:after{
  content:'\e66d'!important;
}
.oper-btn.refresh:after{
  content:'\e66e'!important;
}
.oper-btn.add-folder:after{
  content:'\e67c'!important;
}
.oper-btn.folder:after{
  content:'\e67d'!important;
}
.oper-btn.split:after{
  content:'\e66f'!important;
}
.oper-btn.publish:after{
  content:'\e695'!important;
}
.oper-btn.export:after{
  content:'\e602'!important;
}
.oper-btn.import:after{
  content:'\e603'!important;
}
.oper-btn.setting:after{
  content:'\e606'!important;
}
.oper-btn.pause:after{
  content:'\e607'!important;
}
.oper-btn.start:after{
  content:'\e608'!important;
}
.oper-btn.show-detail:after{
  content:'\e609'!important;
}
.oper-btn.share:after{
  content:'\e60b'!important;
}
.oper-btn.stop:after{
  content:'\e60c'!important;
}
.oper-btn.rename:after{
  content:'\e83e'!important;
}
.oper-btn.search:after{
  content:'\e60f'!important;
}
.oper-btn.copy:after{
  content:'\e66c'!important;
}
.oper-btn.maintain:after{
  content:'\e69f'!important;
}
.oper-btn.auth:after{
  content:'\e670'!important;
}
.oper-btn.move:after{
  content:'\e672'!important;
}
.oper-btn.save:after{
  content:'\e67e'!important;
}
.oper-btn.chart:after{
  content:'\e6d8'!important;
}
.oper-btn.cancelshare:after{
  content:'\e63d'!important;
}
.oper-btn.timing:after{
  content:'\e60d'!important;
}
.oper-btn.menu-2:after{
  content:'\e89a'!important;
}
.oper-btn.drag:after{
  content:'\e680'!important;
}
.oper-btn.search-2:after{
  content:'\e63f'!important;
}
