.skin-bgColor{
  background-color: #353A43!important;
}
.skin-wbgColor-1{
  background-color: #EDF1F5!important;
}
.skin-wbgColor-2{
  background-color: #ffffff!important;
}
.skin-wbgColor-3{
  background-color: #ffffff!important;
}
.skin-iconbgColor{
  background-color: #353A43!important;
}
.skin-wordColor{
  color: #333!important;
}
.skin-wordmoreColor{
  color: #1890ff!important;
}
.skin-shadow{
  box-shadow: 17px 17px 34px 0 rgb(0 0 0 / 10%)!important;
}
.skin-border-right{
  border-right: 1px solid #21364E!important;
}
.skin-bttom-a{
  background-color: #0F1F32!important;
}
.skin-home-rc{
  -webkit-box-shadow: 3px 0 17px 0 rgba(0,0,0,.1)!important;
  box-shadow: 3px 0 17px 0 rgba(0,0,0,.1)!important;
}
.editmodel-right{
  z-index:1000;
  position: absolute;
  float:right;
  right: 15px;
  height:calc(100% - 63px);
  width: 45px;
  background-color: #f7f7f7;
  border-radius: 0px 20px 20px 0px;
}
