/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

div,
a,
ul li,
p,
span,
input {
    font-family: 微软雅黑;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-pagination {
    margin-top: 15px;
}

.el-steps {
    margin: 15px 0;
}

.el-step_title {
    font-size: 13px;
}

.ql-editor {
    min-height: 300px;
}

.el-main {
    padding: 0;
}

.el-footer {
    padding: 0;
}

.el-card__body {
    padding: 0;
    border-radius: 8px;
}

.active {
    margin-right: 0;
}