    /*1920*1080分辨率*/
    
    @media screen and (max-height:1050px) {
        .el-main {
            background-image: url("../login_img/背景.png");
        }
        .login_content {
            width: 100%;
            height: 937px;
        }
        .login_titel {
            width: 586px;
            height: 132px;
            font-family: PingFang;
            font-weight: bold;
            color: #44a0d2;
            line-height: 7px;
            position: absolute;
            top: 385px;
            left: 419px;
        }
        .login_city {
            font-size: 57px;
        }
        .login_txt {
            font-size: 32px;
        }
        .login_kh {
            width: 361px;
            height: 35px;
            font-size: 34px;
            font-family: PingFang;
            font-weight: bold;
            color: #454545;
            line-height: 7px;
            position: absolute;
            top: 561px;
            left: 421px;
        }
        .login_fy {
            width: 529px;
            height: 63px;
            font-size: 18px;
            font-family: PingFang;
            font-weight: bold;
            color: #454545;
            line-height: 60px;
            position: absolute;
            top: 606px;
            left: 421px;
        }
        .denglu {
            width: 78px;
            height: 33px;
            font-size: 35px;
            font-family: PingFang;
            font-weight: bold;
            color: #ffffff;
            line-height: 7px;
            position: absolute;
            top: 391px;
            left: 1311px;
        }
        .denglu_box {
            position: absolute;
            top: 333px;
            left: 1004px
        }
        .login_form {
            position: absolute;
            top: 480px;
            left: 1120px;
        }
        .login_user {
            width: 410px;
            line-height: 30px;
            margin: 0 0 30px 0;
        }
        .login_pwd {
            width: 410px;
            line-height: 30px;
        }
        .login_btn {
            width: 380px;
            height: 70px;
            border: none;
            outline: none;
            font-size: 22px;
            font-family: PingFang;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.9);
            line-height: 6px;
            background-color: #ffffff;
            border-radius: 50px;
            position: absolute;
            top: 656px;
            left: 1160px;
            cursor: pointer;
        }
        .el-input__inner {
            background: #4FA1D4 !important;
            border: none !important;
            border-bottom: 1px black dashed !important;
        }
    }
    /*这个是适配1366*768分辨率*，只适配宽度为1366的宽度*/
    
    @media screen and (max-width: 1366px) {
        .el-main {
            background-image: url("../login_img/背景.png");
            width: 1366px;
            height: 768px;
            background-repeat: no-repeat;
        }
        .login_content {
            width: 100%;
            height: 768px;
        }
        .login_titel {
            width: 400px;
            height: 94px;
            font-size: 41px;
            font-family: PingFang;
            font-weight: bold;
            color: #44A0D2;
            line-height: 5px;
            position: absolute;
            top: 223.91px;
            left: 298.1px;
        }
        .login_city {
            font-size: 47px;
        }
        .login_txt {
            font-size: 32px;
        }
        .login_kh {
            width: 257px;
            height: 25px;
            font-size: 24px;
            font-family: PingFang;
            font-weight: bold;
            color: #454545;
            line-height: 5px;
            position: absolute;
            top: 349px;
            left: 300px;
        }
        .login_fy {
            width: 376px;
            height: 45px;
            font-size: 13px;
            font-family: PingFang;
            font-weight: bold;
            color: #454545;
            line-height: 34px;
            position: absolute;
            top: 402.49px;
            left: 299.52px;
        }
        .login_box {
            position: absolute;
        }
        .denglu {
            width: 55px;
            height: 23px;
            font-size: 25px;
            font-family: PingFang;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 5px;
            position: absolute;
            top: 230.62px;
            left: 923.3px;
        }
        .denglu_box {
            width: 490px;
            height: 438px;
            position: absolute;
            top: 186.62px;
            left: 714.3px;
        }
        .login_form {
            position: absolute;
            top: 276.62px;
            left: 767.3px;
        }
        .login_user {
            width: 280px;
            line-height: 30px;
            margin: 0 0 15px 0;
            position: absolute;
            top: -5px;
            left: 50px;
        }
        .login_pwd {
            width: 280px;
            line-height: 30px;
            position: absolute;
            top: -5px;
            left: 50px;
        }
        .login_btn {
            width: 321px;
            height: 50px;
            border: none;
            outline: none;
            font-size: 22px;
            font-family: PingFang;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.9);
            line-height: 6px;
            background-color: #ffffff;
            border-radius: 50px;
            position: absolute;
            top: 420.62px;
            left: 800.3px;
            cursor: pointer;
        }
        .el-input__inner {
            background: #4FA1D4 !important;
            border: none !important;
            border-bottom: 1px black dashed !important;
        }
    }