body{
    overflow-y: hidden;
    margin: 0px;
}
.side-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 36px;
    width: 212px;
    height: 100%;
    background: #DDE0E9;
    overflow-y: auto;
}

.menu-panel-heading {
    background-color: #DDE0E9;
    padding: 5px;
}

.menu-panel-heading:after {
    content: "";
    display: table;
    clear: both;
}

.menu-panel-heading > .menu-icon,
.menu-panel-heading > span {
    vertical-align: middle;
}

.menu-panel-heading > .menu-icon {
    margin-right: 5px;
}

.menu-panel-heading > span {
    color: #4E6CB3;
    font-weight: bold;
    font-size: 14px;
}

.menu-panel-heading > .add {
    float: right;
    color: #4F4F4F;
    font-weight: bold;
}
/*
!*
 * zTree样式重置
 *!
.ztreein {
    padding: 0;
    background:#fff;
}
.ztreein li ul{
    padding-left: 20px;
}

.ztreein li a {
    padding-left: 5px;
    display: block;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    outline: none;
    border: none;
}

.ztreein li a:hover{
    text-decoration: none;
}
.ztreein li span.button.ico_docu{
    vertical-align: middle;
}
.ztreein li a.curSelectedNode {
    padding-top: 0px;
    background-color: #fff;
    color: black;
    height: 30px;
    line-height: 30px;
    border: none;
    opacity: 1;
}
.ztreein li span{
    vertical-align: middle;
}
.ztreein li span.button.ico_open,
.ztreein li span.button.ico_close{
    vertical-align: middle;
    position: relative;
    margin-top: -2px;
}

.ztreein a.level0,
.ztreein ul.level0 a.level1,
.ztreein ul.level1 > li{
    //border-bottom: 1px solid #ECECEC;
}

.ztreein > li.level0 > ul.level0{
    padding-left: 13px;
}
#tree_02 > li > ul{
    padding-left: 0 !important;
}
#tree_02 > li > ul a{
    padding-left: 13px !important;
    background-color: #fff;
}
#tree_02 > li a{
    background-color: #F2F4F7 !important;
}
#tree_02 > li > ul a:hover{
    background-color: #EFF7FF !important;
    color: #4382C5;
}
#tree_02 > li > ul a,
#tree_02 > li > ul li{
    border-bottom: 0 !important;
}


.ztreein li span.button.ztree_1_ico_open,
.ztreein li span.button.ztree_1_ico_close {
    background: url("icons/icon-document@1x.png") no-repeat center;
}


.ztreein li span.button.ztree_2_ico_open{
    background: url("icons/icon-folder-open@1x.png") no-repeat center;
}
.ztreein li span.button.ztree_2_ico_docu,
.ztreein li span.button.ztree_2_ico_close{
    background: url("icons/icon-folder-close@1x.png") no-repeat center;
}

.ztreein li span.button.ztree_3_ico_docu{
    background: url("icons/icon-ps@1x.png") no-repeat center;
}
.ztreein li span.button.shareBtn {
  line-height:0; margin:0; width:20px; height:20px; display: inline-block; vertical-align:middle;
  border:0 none; cursor: pointer;outline:none;
  background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
  margin:0; background-image: url("icons/icon-folder-close@1x.png");
}

.ztreein li span.button.ztree_4_ico_open,
.ztreein li span.button.ztree_4_ico_close {
    background: url("icons/icon-fenxi.png") no-repeat center;
}
.ztreein li span.button.ztree_5_ico_docu,
.ztreein li span.button.ztree_5_ico_open{
    background: url("icons/sanjiao.png") no-repeat center;
}

.ztreein li span.button.ztree_5_ico_close {
    background: url("icons/sanjiao-right.png") no-repeat center;
}
.ztreein li span.button.ztree_no_ico_docu,
.ztreein li span.button.ztree_no_ico_open,
.ztreein li span.button.ztree_no_ico_close{
    background: none;
}

.ztreein li span.button.switch {
    display: none;
}

.ztreein li span.button.switch {
    display: none;
}

.ztreein li a .node_num{
    float: right;
    background: #ccc;
    color: #fff;
    width: 24px;
    border-radius: 4px;
    margin-top: 6px;
    height: 15px;
    text-align: center;
}
.ztreein li a.curSelectedNode{
    background-color: transparent!important;
}
.ztreein li a.curSelectedNode_Edit{
    border:0px!important;
}*/
/*-------------------------------------
zTree Style

version:    3.4
author:     Hunter.z
email:      hunter.z@263.net
website:    http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztreein * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztreein {margin:0; padding:5px; color:#333}
.ztreein li{padding:0; margin:0; list-style:none; line-height:17px; text-align:left; white-space:nowrap; outline:0}
.ztreein li ul{ margin:0; padding:0 0 0 18px}
.ztreein li ul.line{ background:url(img/line_conn.png) 0 0 repeat-y;}

.ztreein li a {padding-right:3px; margin:0; cursor:pointer; height:21px; color:#333; background-color: transparent; text-decoration:none; vertical-align:top; display: inline-block}
.ztreein li a:hover {text-decoration:underline}
.ztreein li a.curSelectedNode {padding-top:0px; background-color:#e5e5e5; color:black; height:21px; opacity:0.8;}
.ztreein li a.curSelectedNode_Edit {padding-top:0px; background-color:#e5e5e5; color:black; height:21px; border:1px #666 solid; opacity:0.8;}
.ztreein li a.tmpTargetNode_inner {padding-top:0px; background-color:#aaa; color:white; height:21px; border:1px #666 solid;
  opacity:0.8; filter:alpha(opacity=80)}
.ztreein li a.tmpTargetNode_prev {}
.ztreein li a.tmpTargetNode_next {}
.ztreein li a input.rename {height:14px; width:80px; padding:0; margin:0;
  font-size:12px; border:1px #585956 solid; *border:0px}
.ztreein li span {line-height:21px; margin-right:2px}
.ztreein li span.button {line-height:0; margin:0; padding: 0; width:21px; height:21px; display: inline-block; vertical-align:middle;
  border:0 none; cursor: pointer;outline:none;
  background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
  background-image:url("img/metro.png"); *background-image:url("img/metro.gif")}

.ztreein li span.button.chk {width:13px; height:13px; margin:0 2px; cursor: auto}
.ztreein li span.button.chk.checkbox_false_full {background-position: -5px -5px;}
.ztreein li span.button.chk.checkbox_false_full_focus {background-position: -5px -26px;}
.ztreein li span.button.chk.checkbox_false_part {background-position: -5px -48px;}
.ztreein li span.button.chk.checkbox_false_part_focus {background-position: -5px -68px;}
.ztreein li span.button.chk.checkbox_false_disable {background-position: -5px -89px;}
.ztreein li span.button.chk.checkbox_true_full {background-position: -26px -5px;}
.ztreein li span.button.chk.checkbox_true_full_focus {background-position: -26px -26px;}
.ztreein li span.button.chk.checkbox_true_part {background-position: -26px -48px;}
.ztreein li span.button.chk.checkbox_true_part_focus {background-position: -26px -68px;}
.ztreein li span.button.chk.checkbox_true_disable {background-position: -26px -89px;}
.ztreein li span.button.chk.radio_false_full {background-position: -47px -5px;}
.ztreein li span.button.chk.radio_false_full_focus {background-position: -47px -26px;}
.ztreein li span.button.chk.radio_false_part {background-position: -47px -47px;}
.ztreein li span.button.chk.radio_false_part_focus {background-position: -47px -68px;}
.ztreein li span.button.chk.radio_false_disable {background-position: -47px -89px;}
.ztreein li span.button.chk.radio_true_full {background-position: -68px -5px;}
.ztreein li span.button.chk.radio_true_full_focus {background-position: -68px -26px;}
.ztreein li span.button.chk.radio_true_part {background-position: -68px -47px;}
.ztreein li span.button.chk.radio_true_part_focus {background-position: -68px -68px;}
.ztreein li span.button.chk.radio_true_disable {background-position: -68px -89px;}

.ztreein li span.button.switch {width:21px; height:21px}
.ztreein li span.button.root_open{background-position:-105px -63px}
.ztreein li span.button.root_close{background-position:-126px -63px}
.ztreein li span.button.roots_open{background-position: -105px 0;}
.ztreein li span.button.roots_close{background-position: -126px 0;}
.ztreein li span.button.center_open{background-position: -105px -21px;}
.ztreein li span.button.center_close{background-position: -126px -21px;}
.ztreein li span.button.bottom_open{background-position: -105px -42px;}
.ztreein li span.button.bottom_close{background-position: -126px -42px;}
.ztreein li span.button.noline_open{background-position: -105px -84px;}
.ztreein li span.button.noline_close{background-position: -126px -84px;}
.ztreein li span.button.root_docu{ background:none;}
.ztreein li span.button.roots_docu{background-position: -84px 0;}
.ztreein li span.button.center_docu{background-position: -84px -21px;}
.ztreein li span.button.bottom_docu{background-position: -84px -42px;}
.ztreein li span.button.noline_docu{ background:none;}

.ztreein li span.button.ico_open{margin-right:2px; background-position: -147px -21px; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.ico_close{margin-right:2px; margin-right:2px; background-position: -147px 0; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.ico_docu{margin-right:2px; background-position: -147px -42px; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.edit {margin-left:2px; margin-right: -1px; background-position: -189px -21px; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.edit:hover {
  background-position: -168px -21px;
}
.ztreein li span.button.remove {margin-left:2px; margin-right: -1px; background-position: -189px -42px; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.remove:hover {
  background-position: -168px -42px;
}
.ztreein li span.button.add {margin-left:2px; margin-right: -1px; background-position: -189px 0; vertical-align:top; *vertical-align:middle}
.ztreein li span.button.add:hover {
  background-position: -168px 0;
}
.ztreein li span.button.ico_loading{margin-right:2px; background:url(img/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

span.tmpzTreeMove_arrow {width:16px; height:21px; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
  background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
  background-position:-168px -84px; background-image:url("img/metro.png"); *background-image:url("img/metro.gif")}

ul.ztreein.zTreeDragUL {z-index:100000;margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:hidden; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.ztreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}


/*
 * zTree样式重置
 */
.ztreein {
  padding: 0;
  background:#fff;
}
.ztreein li ul{
  padding-left: 20px;
}

.ztreein li a {
  padding-left: 5px;
  display: block;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
}

.ztreein li a:hover{
  text-decoration: none;
}
.ztreein li span.button.ico_docu{
  vertical-align: middle;
}
.ztreein li a.curSelectedNode {
  padding-top: 0px;
  background-color: #fff;
  color: black;
  height: 30px;
  line-height: 30px;
  border: none;
  opacity: 1;
}
.ztreein li span{
  vertical-align: middle;
}
.ztreein li span.button.ico_open,
.ztreein li span.button.ico_close{
  vertical-align: middle;
  position: relative;
  margin-top: -2px;
}

.ztreein a.level0,
.ztreein ul.level0 a.level1,
.ztreein ul.level1 > li{
  //border-bottom: 1px solid #ECECEC;
}

.ztreein > li.level0 > ul.level0{
  padding-left: 13px;
}
#tree_02 > li > ul{
  padding-left: 0 !important;
}
#tree_02 > li > ul a{
  padding-left: 13px !important;
  background-color: #fff;
}
#tree_02 > li a{
  background-color: #F2F4F7 !important;
}
#tree_02 > li > ul a:hover{
  background-color: #EFF7FF !important;
  color: #4382C5;
}
#tree_02 > li > ul a,
#tree_02 > li > ul li{
  border-bottom: 0 !important;
}


.ztreein li span.button.ztree_1_ico_open,
.ztreein li span.button.ztree_1_ico_close {
  background: url("icons/icon-document@1x.png") no-repeat center;
}


.ztreein li span.button.ztree_2_ico_open{
  background: url("icons/icon-folder-open@1x.png") no-repeat center;
}
.ztreein li span.button.ztree_2_ico_docu,
.ztreein li span.button.ztree_2_ico_close{
  background: url("icons/icon-folder-close@1x.png") no-repeat center;
}

.ztreein li span.button.ztree_3_ico_docu{
  background: url("icons/icon-ps@1x.png") no-repeat center;
}
.ztreein li span.button.shareBtn {
  line-height:0; margin:0; width:20px; height:20px; display: inline-block; vertical-align:middle;
  border:0 none; cursor: pointer;outline:none;
  background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
  margin:0; background-image: url("icons/share.png");
}

.ztreein li span.button.ztree_4_ico_open,
.ztreein li span.button.ztree_4_ico_close {
  background: url("icons/icon-fenxi.png") no-repeat center;
}
.ztreein li span.button.ztree_5_ico_docu,
.ztreein li span.button.ztree_5_ico_open{
  background: url("icons/sanjiao.png") no-repeat center;
}

.ztreein li span.button.ztree_5_ico_close {
  background: url("icons/sanjiao-right.png") no-repeat center;
}
.ztreein li span.button.ztree_no_ico_docu,
.ztreein li span.button.ztree_no_ico_open,
.ztreein li span.button.ztree_no_ico_close{
  background: none;
}

.ztreein li span.button.switch {
  display: none;
}

.ztreein li span.button.switch {
  display: none;
}

.ztreein li a .node_num{
  float: right;
  background: #ccc;
  color: #fff;
  width: 24px;
  border-radius: 4px;
  margin-top: 6px;
  height: 15px;
  text-align: center;
}
.ztreein li a.curSelectedNode{
  background-color: transparent!important;
}
.ztreein li a.curSelectedNode_Edit{
  border:0px!important;
}
.icon-circle-3{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("icons/more.png") no-repeat center;
    float: right;
    margin-top: 8px;
}

.icon-circle-4{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("icons/icon-shu@1x.png") no-repeat center;
    float: right;
    margin-top: 8px;
}

.icon-circle-5{
    float: right;
}
.icon-circle-5 i{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("icons/shouqi.png") no-repeat center;
    vertical-align: middle;
}
.icon-circle-5 span{
    margin-right: 0;
    margin-left: 2px;
    color: #AEBBD2;
    font-size: 12px;
}


.menu-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    vertical-align: middle;
}

.icon-menu {
    background: url("icons/icon-menu@1x.png") no-repeat center;
}

.side-menu-fixed-bottom{
    position: fixed;
    width: 212px;
    left: 0;
    bottom: 0;
}

.main-section-con{
    padding-left: 212px;
}

/*top-collapse*/
.top-collapse-container,
.slide-container{
    overflow: hidden;
}
.slide-container{
    height: 41px;
    display: none;
}
.collapse-slideup-con{
    padding: 10px;
    background-color: #5887B3;

}
.collapse-slideup-con:after{
    content: "";
    display: table;
    clear: both;
}
.slideup-left{
    float: left;
}
.slideup-left span{
    color: #fff;
    margin-right: 10px;
}
.slideup-left em{
    font-size: 15px;
    color: #F5A623;
}
.slideup-left > a{
    display: inline-block;
    color: #fff;
    background: #266297;
    box-shadow: 0 0 4px 0 #225BAA;
    border-radius: 2px;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 10px;
}
.collapse-set-btn{
    float: right;
    text-decoration: underline;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #F2F4F7;
    letter-spacing: 0;
    padding-top: 2px;
}

.top-collapse-con {
    background-color: #fff;
    box-shadow: 8px 0 8px 0 rgba(0, 0, 0, 0.20);
    padding: 5px 13px 30px;
    position: relative;
    overflow: hidden;
    height: 210px;
}

.collapse-panel {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.collapse-panel-head {
    height: 26px;
    color: #5887B3;
    margin-bottom: 5px;
    font-size: 14px;
}

.collapse-panel-head > span {
    color: #F5A624;
    font-family: Arial;
}

.tag-left-con,
.tag-right-con {
    display: table-cell;
}

.tag-left-con {
    width: 462px;
    height: 190px;
}

.tags-item-con {
    font-size: 0;
    background: #F7F7F7;
    border: 1px solid #F3F3F3;
    /*padding: 9px 9px 0;0424修改*/
    margin-bottom: 10px;
}

.tags-item {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    width: 100%;
}

.tags-left-create-con {
    height: 24px;
    line-height: 24px;
    border: 1px dashed #6096E0;
    border-radius: 2px;
    opacity: 0.88;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #AAAAAB;
    text-align: center;
    background: #6096E0 url("icons/italic-bg.png") repeat-x 0 -1px;
    cursor: pointer;
}

.tag-right-con {
    padding-left: 20px;
}

.tag-right-con .tags-item-con {
    height: 155px;
    margin-bottom: 0;
    overflow-y: scroll;
}

.top-collapse-con > .toggle-btn {
    position: absolute;
    right: 10px;
    bottom: 3px;
    cursor: pointer;
}

.toggle-btn i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("icons/shouqiup.png");
    background-repeat: no-repeat;
    background-position: center;

}

.toggle-btn span {
    font-size: 12px;
    color: #A0AFCB;
}

.main-view-con {
    background-color: #f6f7fb;
    overflow-y: auto;
}

.main-view-section {
    /*padding: 9px 0 9px 9px;*/
}

.view-grid {
    width: 50%;
    box-sizing: border-box;
    padding-right: 9px;
    float: left;
    margin-bottom: 9px;
}

.main-view-panel {
    height: 350px;
    background-color: #fff;
    border-radius: 2px;
}
.main-view-panel-head:after{
    content: "";
    display: table;
    clear: both;
}
.main-view-panel-head{
    padding: 10px 10px 0;
}
.main-view-panel-body{
    padding: 10px;
}
.main-view-panel-head > strong{
    float: left;
    font-weight: bold;
    color: #4C4E5D;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.main-view-panel-head > .icon-tools-group{
    float: right;
}

.btn-creat-charts{
    background-color: #F2F3F5;
    color: #3F83C7;
    padding: 4px 12px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 30px;
}

.icon-tools-con{
    background-color: #F2F3F5;
    color: #3F83C7;
    padding: 3px 6px 1px;
    border-radius: 2px;
    display: inline-block;
}


.icon-tools{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 4px;
    margin-right: 4px;
}

.icon-tools-1{
    background-image: url("icons/icon-tools-1.png");
}
.icon-tools-2{
    background-image: url("icons/icon-tools-2.png");
}

.icon-tools-3{
    background-image: url("icons/icon-tools-3.png");
}

.icon-tools-4{
    background-image: url("icons/fangda.png");
}

.collapse-panel-head .btn{
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 0;
}

.in-outer-layer{
    padding: 0px 4px;
    width: 100%;
    height: inherit;
    overflow-y: scroll;
}
.analysisRegionSelected{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgb(115, 163, 228), 0px 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 5px 1px rgba(0, 0, 0, 0.06);
}

.tags-item{
    display: table;
    width: 100%;
    background: #F7F7F7;
    border: 1px solid #F3F3F3;
}
.tags-order,.tags-con,.tags-del{
    display: table-cell;
    vertical-align: middle;
}
.tags-order,.tags-del{
    width: 20px;
    text-align: center;
}
.tags-order{
    background-color: #f2f2f2;
    color: #b3b3b3;
    font-size: 14px;
    font-family: Arial;
}
.tags-con{
    padding: 6px 9px 0;
}
.tags-del i{
    display: inline-block;
    width: 11px;
    height: 13px;
    background: url("icons/icon-del-gray.png") no-repeat center;
    cursor: pointer;
}
.tags-del i:hover{
    background-image: url("icons/icon-delete-info.png");
}

.CodeMirror{
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}
.nav > li > a {
    position: relative!important;
    display: block!important;
    padding: 4px 14px!important;
}
#search{
    height: 28px;
    font-size: 12px;
}
#searchTable{
    height: 28px;
    font-size: 12px;
}
#searchFilter{
    height: 28px;
    font-size: 12px;
}
#searchIn{
    height: 28px;
    font-size: 12px;
}

